function JumpMan.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 0
pop this 3
push constant 0
pop this 4
push argument 2
pop this 2
push constant 0
pop this 5
push constant 0
pop this 6
push pointer 0
call JumpMan.draw 1
pop temp 0
push pointer 0
return
function JumpMan.respawn 0
push argument 0
pop pointer 0
push pointer 0
call JumpMan.erase 1
pop temp 0
push argument 1
pop this 0
push argument 2
pop this 1
push constant 0
pop this 3
push constant 0
pop this 4
push constant 0
pop this 5
push constant 0
pop this 6
push pointer 0
call JumpMan.draw 1
pop temp 0
push constant 0
return
function JumpMan.setOnGround 0
push argument 0
pop pointer 0
push argument 1
pop this 5
push constant 0
return
function JumpMan.setAgainstWall 0
push argument 0
pop pointer 0
push argument 1
pop this 6
push constant 0
return
function JumpMan.setxVel 0
push argument 0
pop pointer 0
push argument 1
pop this 3
push constant 0
return
function JumpMan.setyVel 0
push argument 0
pop pointer 0
push argument 1
pop this 4
push constant 0
return
function JumpMan.getxVel 0
push argument 0
pop pointer 0
push this 3
return
function JumpMan.getyVel 0
push argument 0
pop pointer 0
push this 4
return
function JumpMan.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function JumpMan.getEdgeL 0
push argument 0
pop pointer 0
push this 0
push this 2
sub
return
function JumpMan.getEdgeR 0
push argument 0
pop pointer 0
push this 0
push this 2
add
return
function JumpMan.getEdgeT 0
push argument 0
pop pointer 0
push this 1
push this 2
sub
return
function JumpMan.getEdgeB 0
push argument 0
pop pointer 0
push this 1
push this 2
add
return
function JumpMan.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call JumpMan.getEdgeL 1
push pointer 0
call JumpMan.getEdgeT 1
push pointer 0
call JumpMan.getEdgeR 1
push pointer 0
call JumpMan.getEdgeB 1
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function JumpMan.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call JumpMan.getEdgeL 1
push pointer 0
call JumpMan.getEdgeT 1
push pointer 0
call JumpMan.getEdgeR 1
push pointer 0
call JumpMan.getEdgeB 1
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function JumpMan.checkInPit 0
push argument 0
pop pointer 0
push pointer 0
call JumpMan.getEdgeB 1
push constant 254
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
goto IF_END0
label IF_FALSE0
push constant 0
not
return
label IF_END0
function JumpMan.jump 0
push argument 0
pop pointer 0
push this 5
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 10
neg
pop this 4
label IF_FALSE0
push constant 0
return
function JumpMan.moveRight 0
push argument 0
pop pointer 0
push constant 5
pop this 3
push constant 0
return
function JumpMan.stopMoving 0
push argument 0
pop pointer 0
push constant 0
pop this 3
push constant 0
return
function JumpMan.calcVels 0
push argument 0
pop pointer 0
push this 5
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 4
push constant 1
add
pop this 4
label IF_FALSE0
push this 6
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call JumpMan.moveRight 1
pop temp 0
goto IF_END1
label IF_FALSE1
push pointer 0
call JumpMan.stopMoving 1
pop temp 0
label IF_END1
push constant 0
return
function JumpMan.moveStep 0
push argument 0
pop pointer 0
push pointer 0
call JumpMan.erase 1
pop temp 0
push this 0
push this 3
add
pop this 0
push this 1
push this 4
add
pop this 1
push pointer 0
call JumpMan.draw 1
pop temp 0
push constant 25
call Sys.wait 1
pop temp 0
push constant 0
return
